<?xml version="1.0" encoding="UTF-8"?>
<application>
    <name>Visitor Management</name>
    <scope>x_vm_visitor_mgmt</scope>
    <prefix>vm</prefix>
    <description>Visitor Management Application for tracking and managing visitors</description>
    <version>1.0.0</version>
    <active>true</active>
    <category>Custom</category>
    <sys_created_by>admin</sys_created_by>
    <sys_created_on>2024-04-27 01:14:00</sys_created_on>
    <sys_updated_by>admin</sys_updated_by>
    <sys_updated_on>2024-04-27 01:14:00</sys_updated_on>
    <files>
        <file>visitor/sys_app.xml</file>
        <file>visitor/x_vm_visitor_mgmt_table.xml</file>
        <file>visitor/x_vm_visitor_mgmt_dictionary.xml</file>
        <file>visitor/x_vm_visitor_mgmt_fields.xml</file>
        <file>visitor/x_vm_visitor_mgmt_choices.xml</file>
        <file>visitor/x_vm_visitor_mgmt_form.xml</file>
        <file>visitor/x_vm_visitor_mgmt_sections.xml</file>
        <file>visitor/x_vm_visitor_mgmt_list.xml</file>
        <file>visitor/x_vm_visitor_mgmt_module.xml</file>
        <file>visitor/x_vm_visitor_mgmt_menu.xml</file>
    </files>
</application>
